<container>
  <h1>Fuel Your Day with the Word</h1>
  <h4 class="font-light">
    Discover daily encouragement and wisdom straight from Scripture, guiding
    your walk, inspiring your heart, and anchoring your soul
  </h4>
  <!-- <div class="p-3 px-8">
      <img src="/img/bg_2.jpg" class="rounded-3xl m-auto" />
    </div> -->
  <div
    class="flex flex-grow flex-col gap-4 justify-center px-4 h-full w-3/4 mx-auto"
  >
    <div
      class="italic w-3/4 m-auto inline-flex items-left justify-between w-full p-5 border border-orange-200/70 rounded-2xl cursor-pointer"
    >
      <div class="block text-left">
        <h4 class="font-light">{{scripture().reading}}</h4>
        <h5>{{scripture().verse}}</h5>
      </div>
    </div>
  </div>
</container>
