

<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 left-1/2 dark:bg- gray-700 dark:bor der-gray-600">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <a [routerLink]="'/dashboard/home'" class="text-gray-500 hover:text-orange-500 transition hover:bg-orange-50 inline-flex flex-col items-center justify-center px-5 rounded-s-full">
                
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
                <span class="sr-only">Home</span>
        </a>
            
        <a [routerLink]="'/dashboard/devotionals'"  type="button" class="text-gray-500 hover:text-orange-500 transition hover:bg-orange-50 inline-flex flex-col items-center justify-center px-5 ">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="book"></mat-icon>
            <span class="sr-only">Devotional</span>
        </a>
        
        <div class="flex items-center justify-center">
            <a [routerLink]="'/dashboard/add'" type="button" class="transition inline-flex text-white items-center justify-center w-12 h-12 font-medium bg-orange-600 rounded-full hover:bg-orange-400 focus:ring-4 focus:ring-orange-300 focus:outline-none dark:foc us:ring-orange-800">
                <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="add"></mat-icon>
                <span class="sr-only">New item</span>
            </a>
        </div>
        
        <a [routerLink]="'/dashboard/contacts'"  type="button" class="text-gray-500 hover:text-orange-500 transition hover:bg-orange-50 inline-flex flex-col items-center justify-center px-5 ">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="groups"></mat-icon>
            <span class="sr-only">Contacts</span>
        </a>
        
        <button (click)="signOut()" type="button" class="text-gray-500 hover:text-orange-500 transition hover:bg-orange-50 inline-flex flex-col items-center justify-center px-5 rounded-e-full ">
            <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="logout"></mat-icon>
            <span class="sr-only">Profile</span>
        </button>
        
    </div>
</div>
