@import "tailwindcss";

* {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

.body {
  display: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.glass {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
}

h1,
h2,
h3 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-bold,
h4,
h5,
h6 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p,
html,
body, .font-base {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-thin {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.font-light {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-medium {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-extrabold {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-black {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6, p {
    font-size: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}